* {
    border: none;
    border-color: #2B5D34;
    font-family: "JetBrainsMono NF ExtraLight";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #11111b;
    transition: 0.3s;
}

#window,
#clock,
#battery,
#wireplumber,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-cpufreq,
#group-group-power,
#custom-quit,
#custom-lock,
#custom-power,
#custom-reboot,
#backlight {
    background: #1e1e2e;
    opacity: 0.9;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #a6a6ed/*606060*/;
}

#custom-power{
    color: #ff0000;
    font-size: 15px;
    padding-right: 13px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
}

#custom-reboot{
    color: #00ff00;
    font-size: 15px;
    border-left: 0px;
    border-right: 0px;
}

#custom-lock{
    color: #ffff00;
    font-size: 15px;
    border-left: 0px;
    border-right: 0px;
}

#custom-quit{
    color: #00ffff;
    font-size: 15px;
    border-left: 0px;
    border-right: 0px;
}

.powerclass{
    color: #c29f2e;
}

#temperature {
    color: #c29f2e;
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: #d20929;
}

#backlight {
    border-right: 0px;
    border-left: 0px;
}

#backlight.dark {
    color: #707070;
}

#backlight.medium {
    color: #aaaaaa;
}

#tray {
    border-radius: 20px;
    margin-right: 5px;
    padding: 0px 4px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 20px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: #fab387;
    transition: 0.3s;
    border-right: 0px;
    border-left: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}

#wireplumber {
    color: #a6e3a1;
    border-right: 0px;
    border-left: 0px;
}

#custom-cpufreq{
    color: #33d6ff;
    border-radius: 0px 0px 0px 0px;
    border-right: 0px;
    border-left: 0px;
    /*font-size: 13px;*/
}

#battery {
    color: #a6e3a1;
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
    border-left: 0px;
}

#battery.full {
    color: #1caf14;
}

#battery.warning {
    color: #c87500;
}

#battery.critical {
    color: #9c0005;
}

#battery.ultracritical {
    color: #9c0005;
    animation: blink 10s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 0.1;
    }
    10% {
      opacity: .5;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: .5;
    }
    40% {
      opacity: 0.1;
    }
    50% {
      opacity: .5;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: .5;
    }
    80% {
      opacity: 0.1;
    }
    90% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}
